## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database./WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Taltal,CL,-25.4000,-70.4833,61.30,78,20,5.19,few clouds
1,1,Castro,BR,-24.7911,-50.0119,60.78,72,95,3.87,overcast clouds
2,2,Arraial Do Cabo,BR,-22.9661,-42.0278,75.16,83,40,6.91,scattered clouds
3,3,Geraldton,AU,-28.7667,114.6000,55.81,82,93,18.59,overcast clouds
4,4,Qasigiannguit,GL,68.8193,-51.1922,39.45,81,74,3.31,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)&(city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Arraial Do Cabo,BR,-22.9661,-42.0278,75.16,83,40,6.91,scattered clouds
6,6,Vaini,TO,-21.2000,-175.2000,77.16,83,75,13.80,broken clouds
10,10,Jamestown,US,42.0970,-79.2353,87.12,53,40,6.91,scattered clouds
12,12,Ko Samui,TH,9.5357,99.9357,83.71,76,100,23.17,moderate rain
14,14,Avera,US,33.1940,-82.5271,89.47,88,100,5.77,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                217
City                   217
Country                215
Lat                    217
Lng                    217
Max Temp               217
Humidity               217
Cloudiness             217
Wind Speed             217
Weather Description    217
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                215
City                   215
Country                215
Lat                    215
Lng                    215
Max Temp               215
Humidity               215
Cloudiness             215
Wind Speed             215
Weather Description    215
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()


# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Arraial Do Cabo,BR,75.16,scattered clouds,-22.9661,-42.0278,
6,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,
10,Jamestown,US,87.12,scattered clouds,42.0970,-79.2353,
12,Ko Samui,TH,83.71,moderate rain,9.5357,99.9357,
14,Avera,US,89.47,overcast clouds,33.1940,-82.5271,
22,Mersing,MY,76.91,broken clouds,2.4312,103.8405,
25,Aquiraz,BR,82.49,clear sky,-3.9014,-38.3911,
27,Monrovia,LR,76.77,moderate rain,6.3005,-10.7969,
29,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,
30,Marsh Harbour,BS,79.95,overcast clouds,26.5412,-77.0636,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
     # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
     # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]     
    except(IndexError):
        print("Hotel not found ... skipping the city.")

Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.
Hotel not found ... skipping the city.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Arraial Do Cabo,BR,75.16,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
6,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
10,Jamestown,US,87.12,scattered clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
12,Ko Samui,TH,83.71,moderate rain,9.5357,99.9357,"The Passage Samui Villas & Resort, Thailand"
14,Avera,US,89.47,overcast clouds,33.1940,-82.5271,
22,Mersing,MY,76.91,broken clouds,2.4312,103.8405,Timotel Hotel
25,Aquiraz,BR,82.49,clear sky,-3.9014,-38.3911,Pousada Rua Camurupim
27,Monrovia,LR,76.77,moderate rain,6.3005,-10.7969,Sunset Inn
29,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
30,Marsh Harbour,BS,79.95,overcast clouds,26.5412,-77.0636,Abaco Beach Resort

In [39]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [40]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/Vacation_search.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [41]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}F</dd>
<dt>Max Temp</dt><dd>{Max Temp}F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30,31), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations)

In [42]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# 11b. Display the figure
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))